services:
  # websocket gateway
  ws-gateway:
    build: ./src/gateway
    ports:
      - "8080"
    restart: unless-stopped

  # Dịch vụ MongoDB
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local
